body {
    background: #ea8039;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #dc7342, #5db5db);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #42338b, #82453a, #69065e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  
  
  